Django==3.1.1
djangorestframework==3.11.1
psycopg2==2.8.5
requests==2.24.0
retry==0.9.2
rubymarshal==1.2.7
html2text==2020.1.16
channels==3.0.1
django-filter==2.3.0
python-magic==0.4.18
websocket-client==0.57.0
tencentcloud-sdk-python==3.0.270
ratelimit==2.2.1
django-cors-headers==3.5.0
qqwry-py3==1.2.1
htpasswd==2.3
python-dateutil==2.8.1
pluginbase==1.0.0
